@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

.App {
  background-color: #08BDBD;
  display: grid;
  grid-template-rows: 0fr 0fr 1fr;
  font-family: 'Rowdies', cursive;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
