.page-title {
    background-color: #F7B32B;
    color: #F21B3F;
    display: flex;
    justify-content: center;
    font-size: 4rem;   
    -webkit-text-stroke: 0.75px black; 
}
.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F21B3F;
    color: #F7B32B;
    -webkit-text-stroke: 0.1px black; 
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #29BF12;
    padding: 5%;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    box-shadow: #F7B32B 0px 5px 15px;
}
input {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: black;
}
textarea {
    max-width: 20rem; 
    max-height: 15rem;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.pdf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 2.5%;
}
.center-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdf-header {
    background-color: #08BDBD;
    color:  rgb(238, 238, 238);
    width: 100%;
    
}
.pdf-content-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.pdf-title {
    border-bottom: 1px solid rgb(204, 204, 204);
    color: #08BDBD;
    -webkit-text-stroke: 0px black; 
}
img {
    display: block;
    width: 100%;
}
.pdf-title-container {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fullName {
    margin-bottom: 2.5px;
}
.jobTitle {
    margin-top: 2.5px;
}
.pdf-description {
   font-style: italic;
   -webkit-text-stroke: 0px black; 
}
.personal-title {
    margin-bottom: 5px;
    -webkit-text-stroke: 0.5px black; 
}
.info-container {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}
.date-container, .job-position {
    color: #F21B3F; 
    font-size: 1.3rem;
}
.information-container {
    margin-right: 5%;
}
.personal-container {
    background-color: rgb(221, 221, 221);
    padding: 25px;
}
.letter-spacing {
    letter-spacing: 1px;
    color: #F21B3F; 
}
.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}
.button-style {
    background-color: #F21B3F;
    border-style: none;
    border-radius: 25% 0 25% 0;
    padding: 0.75rem;
    font-weight: bolder;
    color: white;
}
.button-style:hover {
    cursor: pointer;
}